html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row.links {
  justify-content: flex-end;
  align-items: center;
  font-size: 1.05em;
  height: 5%;
}

.advanced-search-title {
  color: #d93025;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.title-row {
  border-bottom: 1px solid #ebebeb
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.adv-search-input {
  width: 100%;
  border-radius: 1px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  font-size: 13px;
  height: 25px;
  padding: 1px 8px;
}

.adv-search-input:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
  border: 1px solid #4d90fe;
  outline: none;
}

.input-col {
  display: flex;
  width: 95%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.special-code {
  color: #666;
  font-family: monospace;
  font-size: 11px;
  white-space: pre;
}

.col-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.col-explanation {
  font-size: 13px;
  font-weight: 700;
  color: #777;
}

.input-label {
  color: #222;
  font-size: 13px;
  line-height: 16px;
}

.input-explanation {
  color: #555;
  font-size: 11px;
}

.submit-col {
  display: flex;
  width: 96%;
  justify-content: flex-end;
  align-items: center;
}

.submit-btn {
  padding: 0 12px;
  height: 30px;
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}