html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.row.links {
  justify-content: flex-end;
  align-items: center;
  font-size: 1.05em;
  height: 5%;
}

.button-row {
  gap: 10px;
}

.row.links a {
  margin: 0 10px;
}

.col.search-form {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.col.search-form form {
  display: flex;
  flex-flow: column;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.col.search-form .search-input {
  padding: 17px 15px 17px 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 24px;
  outline: 0;
  border: 0;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  width: 60vw;
}

.submit-btn {
  padding: 10px 16px;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f8f9fa;
  color: #3c4043;
  cursor: pointer;
}

.submit-btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

@media only screen and (min-width: 2000px) {
  .col.search-form .search-input {
    width: 25vw;
  }
}